// #include <layout_shift.dtsi>

#include <layout_shift_kp_override.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define DEF 0
#define FUNC 1
#define NUM 2
#define MOUSE 3
#define SCROLL 4
#define BT 5

// OS設定を日本語キーボードのまま使用するための変換定義
#define JP_DQUOTE       AT                // "
#define JP_AMPERSAND    CARET             // &
#define JP_QUOTE        AMPERSAND         // '
#define JP_EQUAL        UNDER             // =
#define JP_CARET        EQUAL             // ^
#define JP_YEN          0x89              // ¥
#define JP_PLUS         COLON             // +
#define JP_TILDE        PLUS              // ~
#define JP_PIPE         LS(0x89)          // |
#define JP_AT           LEFT_BRACKET      // @
#define JP_COLON        SINGLE_QUOTE      // :
#define JP_ASTERISK     DOUBLE_QUOTES     // *
#define JP_BACKQUOTE    LEFT_BRACE        // `
#define JP_UNDERSCORE   LS(0x87)          // _
#define JP_LBRACKET     RIGHT_BRACKET     // [
#define JP_RBRACKET     BACKSLASH         // ]
#define JP_LPAREN       ASTERISK          // (
#define JP_RPAREN       LEFT_PARENTHESIS  // )
#define JP_LBRACE       RIGHT_BRACE       // {
#define JP_RBRACE       PIPE              // }
#define JP_KANA         LANGUAGE_1        // かな
#define JP_EISU         LANGUAGE_2        // 英数
#define JP_HANZEN       GRAVE             // 半角/全角

&mt {
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <175>;
    require-prior-idle-ms = <150>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "Def";
            bindings = <
&lt 5 ESC       &kp Q     &kp W      &kp E     &kp R        &kp T            &kp Y           &kp U                 &kp I                &kp O                    &kp P               &kp KP_MINUS
&kp TAB         &kp A     &kp S      &kp D     &kp F        &kp G            &kp H           &kp J                 &kp K                &kp L                    &kp SEMI            &lt MOUSE JP_COLON
&kp LEFT_SHIFT  &kp Z     &kp X      &kp C     &kp V        &kp B            &kp N           &kp M                 &mt LESS_THAN COMMA  &mt GREATER_THAN PERIOD  &mt QUESTION SLASH  &kp JP_UNDERSCORE
&kp LCTRL       &kp LGUI  &kp LALT             &lt 1 SPACE  &lt 2 SPACE      &lt FUNC ENTER  &mt DELETE BACKSPACE                       &trans                   &trans              &kp JP_AT
&kp LEFT        &kp UP    &kp SPACE  &kp DOWN  &kp RIGHT                                     &kp HOME              &kp PG_UP            &kp ENTER                &kp PG_DN           &kp END
                                     &kp A                                                                         &kp B
            >;

            sensor-bindings =
                <&inc_dec_kp PAGE_UP PAGE_DOWN>,
                <&inc_dec_kp PG_UP PG_DN>;
        };

        function_layer {
            label = "Fnc";
            bindings = <
&mt F1 EXCLAMATION  &mt F2 JP_DQUOTE  &mt F3 HASH  &mt F4 DOLLAR  &mt F5 PERCENT  &mt F6 JP_AMPERSAND      &mt F7 JP_QUOTE  &mt F8 JP_LPAREN  &mt F9 JP_RPAREN  &kp F10    &kp F11    &mt F12 JP_EQUAL
&tog_ls             &trans        &trans       &trans         &trans          &trans                   &trans           &trans            &trans            &trans     &trans     &trans
&trans              &trans        &trans       &trans         &trans          &trans                   &trans           &trans            &trans            &trans     &trans     &trans
&trans              &trans        &kp LALT                    &kp ENTER       &kp ENTER                &mt JP_EISU JP_KANA      &trans                         &trans     &trans     &trans
&kp LEFT            &kp UP        &kp SPACE    &kp DOWN       &kp RIGHT                                                 &kp HOME          &kp PG_UP         &kp ENTER  &kp PG_DN  &kp END
                                               &kp A                                                                                      &kp B
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        num_layer {
            label = "Num";
            bindings = <
&kp NUMBER_1     &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5     &kp NUMBER_6      &kp N7     &kp N8         &kp N9     &kp N0       &kp JP_EQUAL     &kp KP_MINUS
&trans           &trans        &trans        &trans        &trans     &trans            &trans     &trans         &trans     &kp JP_PLUS  &kp JP_ASTERISK  &trans
&mt LSHFT SPACE  &trans        &trans        &trans        &trans     &trans            &trans     &trans         &kp COMMA  &kp PERIOD   &kp SLASH        &trans
&trans           &kp ENTER     &kp ENTER                   &kp ENTER  &kp ENTER         &kp ENTER  &kp BACKSPACE             &trans       &trans           &trans
&kp LEFT         &kp UP        &kp SPACE     &kp DOWN      &kp RIGHT                               &kp HOME       &kp PG_UP  &kp ENTER    &kp PG_DN        &kp END
                                             &kp A                                                                &kp B
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        mouse_layer {
            label = "Mouse";
            bindings = <
&trans    &trans  &trans     &trans    &trans     &trans      &trans  &trans    &trans     &trans     &trans     &trans
&trans    &trans  &trans     &trans    &trans     &trans      &trans  &mkp MB1  &mkp MB3   &mkp MB2   &trans     &trans
&trans    &trans  &trans     &trans    &trans     &trans      &trans  &mkp MB4  &mkp MB5   &trans     &trans     &trans
&trans    &trans  &trans               &trans     &trans      &trans  &trans               &trans     &trans     &trans
&kp LEFT  &kp UP  &kp SPACE  &kp DOWN  &kp RIGHT                      &kp HOME  &kp PG_UP  &kp ENTER  &kp PG_DN  &kp END
                             &kp A                                              &kp B
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        scroll_layer {
            label = "Scr";
            bindings = <
&trans    &trans  &trans     &trans    &trans     &trans      &trans  &trans    &trans     &trans     &trans     &trans
&trans    &trans  &trans     &trans    &trans     &trans      &trans  &mkp MB1  &mkp MB3   &mkp MB2   &trans     &trans
&trans    &trans  &trans     &trans    &trans     &trans      &trans  &trans    &trans     &trans     &trans     &trans
&trans    &trans  &trans               &trans     &trans      &trans  &trans               &trans     &trans     &trans
&kp LEFT  &kp UP  &kp SPACE  &kp DOWN  &kp RIGHT                      &kp HOME  &kp PG_UP  &kp ENTER  &kp PG_DN  &kp END
                             &kp A                                              &kp B
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        bt_layer {
            label = "BT";
            bindings = <
&trans    &trans  &trans     &trans    &trans     &trans      &bt BT_CLR      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &trans     &trans
&trans    &trans  &trans     &trans    &trans     &trans      &bt BT_CLR_ALL  &trans        &trans        &trans        &trans     &trans
&trans    &trans  &trans     &trans    &trans     &trans      &trans          &trans        &trans        &trans        &trans     &trans
&trans    &trans  &trans               &trans     &trans      &trans          &trans                      &trans        &trans     &trans
&kp LEFT  &kp UP  &kp SPACE  &kp DOWN  &kp RIGHT                              &kp HOME      &kp PG_UP     &kp ENTER     &kp PG_DN  &kp END
                             &kp A                                                          &kp B
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
